name: Package
on:
  push:
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+'
  workflow_dispatch:

permissions:
  contents: write
  id-token: write

jobs:
  build:
    name: "Build and publish package"
    runs-on: ubuntu-latest
    environment:
      name: release
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version-file: "pyproject.toml"

      - name: Install GSL
        run: sudo apt install -y libgsl-dev

      - name: Install FFMPEG
        run: sudo apt install -y ffmpeg

      - name: Install the latest version of uv
        uses: astral-sh/setup-uv@v6
        with:
          enable-cache: true

      - name: Install the project
        run: uv sync --locked --all-extras --dev

      - name: Run tests before release
        run: uv run pytest tests

      - name: Build dist
        run: uv build

      - name: Publish packages
        run: uv publish

      - name: Release
        uses: softprops/action-gh-release@v2
